<mat-grid-list cols="2" rowHeight="100vh">

  <!-- Перша колонка (картинка) -->
  <mat-grid-tile colspan="1" class="left-column">
    <form [formGroup]="form"  class="vertical-form" (ngSubmit)="onSubmit()">
      <div>
        <p><b>Register</b></p>
      </div>

      <!-- FirstName input -->
        <mat-form-field class="form-group mb-3" appearance="fill">
          <mat-label class="form-label" for="Email">
            Email address
          </mat-label>
          <input matInput type="text" id="firstname" placeholder="Enter a valid username"
                 formControlName="firstname" [errorStateMatcher]="matcher" name="firstname" required />
          <mat-error *ngIf="firstname?.hasError('minlength') && !firstname?.hasError('required')">
            Firstname must have <strong>{{firstname?.errors?.['minlength'].requiredLength}}</strong> Letters ,You
            have Submitted <strong>{{firstname?.errors?.['minlength'].actualLength}}</strong> Letters
          </mat-error>
          <mat-error *ngIf="firstname?.hasError('required')">
            Firstname is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      <!-- Lastname input -->
        <mat-form-field class="form-group mb-3" appearance="fill">
          <mat-label class="form-label" for="lastname">
            Last Name
          </mat-label>
          <input matInput type="text" id="lastname" placeholder="Enter a valid lastname" formControlName="lastname"
                 [errorStateMatcher]="matcher" name="lastname" required />
          <mat-error *ngIf="lastname?.hasError('minlength') && !lastname?.hasError('required')">
            Lastname must have <strong>{{lastname?.errors?.['minlength'].requiredLength}}</strong> Letters ,You have
            Submitted <strong>{{lastname?.errors?.['minlength'].actualLength}}</strong> Letters
          </mat-error>
          <mat-error *ngIf="lastname?.hasError('required')">
            Lastname is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      <!-- Email input -->
        <mat-form-field class="form-group mb-3" appearance="fill">
          <mat-label class="form-label" for="Email">
            Email address
          </mat-label>
          <input matInput type="email" id="email" placeholder="Enter a valid email address" formControlName="email"
                 [errorStateMatcher]="matcher" name="email" required />
          <mat-error *ngIf="email?.hasError('email') && !email?.hasError('required')">
            Please enter a valid <strong>email</strong> address
          </mat-error>
          <mat-error *ngIf="email?.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      <!-- Password input -->
        <mat-form-field class="form-group mb-3" appearance="fill">
          <mat-label class="form-label" for="password">
            Password
          </mat-label>
          <input matInput type="password" id="password" placeholder="Enter password" formControlName="password"
                 [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'" name="password" required />
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf=" password?.hasError('pattern') && !password?.hasError('required')">
            Must contain at least <strong>one number</strong> and <strong>one uppercase</strong> and
            <strong>lowercase letters</strong> ,
            and at <strong>least 8</strong> or more characters.
          </mat-error>
          <mat-error *ngIf="password?.hasError('minlength') && !password?.hasError('required')">
            Password must have <strong>{{password?.errors?.['minlength'].requiredLength}}</strong> Letters ,You have
            Submitted <strong>{{password?.errors?.['minlength'].actualLength}}</strong> Letters
          </mat-error>
          <mat-error *ngIf=" password?.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      <!-- Confirmation Password input -->

        <mat-form-field class="form-group mb-3" appearance="fill">
          <mat-label class="form-label" for="cPassword">
            Confirm Password
          </mat-label>
          <input matInput type="password" id="cPassword" placeholder="Enter password" formControlName="cPassword"
                 [errorStateMatcher]="matcher" [type]="hide ? 'password' : 'text'" name="cPassword" required />
          <button type="button" mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="cPassword?.hasError('passwordMismatch')">
            Password does not match
          </mat-error>
          <mat-error *ngIf=" cPassword?.hasError('required')">
            Password confirmation is <strong>required</strong>
          </mat-error>
        </mat-form-field>

      <!--Register Button-->
      <div>
        <button mat-raised-button type="submit" color="primary" class="btn btn-primary btn-lg btn-block">
          Register
        </button>
      </div>
    </form>
  </mat-grid-tile>

  <mat-grid-tile colspan="1" class="right-column" >
    <img src="/assets/login.jpg"  alt="">
  </mat-grid-tile>

</mat-grid-list>
