<!--<header class="container header">
  &lt;!&ndash; ==== NAVBAR ==== &ndash;&gt;
  <nav class="nav">
    <div class="logo">
      <h2 routerLink="/Home" style="cursor: pointer;">Attia's Tuto</h2>
    </div>

    <div class="nav_menu" id="nav_menu">
      <button class="close_btn" id="close_btn">
        <i class="ri-close-fill"></i>
      </button>

      <ul class="nav_menu_list">
        <li class="nav_menu_item" routerLinkActive="active" *ngIf="isLoggedIn">
          <a routerLink="/User" class="nav_menu_link">User</a>
        </li>
        <li class="nav_menu_item" routerLinkActive="active" *ngIf="isLoggedIn">
          <a routerLink="/Admin" class="nav_menu_link">Admin</a>
        </li>
        <li class="nav_menu_item" *ngIf="isLoggedIn" style="cursor: pointer;">
          <a (click)="signOut()" class="nav_menu_link">LogOut</a>
        </li>
        <li class="nav_menu_item" routerLinkActive="active" *ngIf="!isLoggedIn">
          <a routerLink="/SignIn" class="nav_menu_link">SignIn</a>
        </li>
        <li class="nav_menu_item" routerLinkActive="active" *ngIf="!isLoggedIn">
          <a routerLink="/SignUp" class="nav_menu_link">SignUp</a>
        </li>
        <li class="nav_menu_item" *ngIf="isLoggedIn">
          <p class="toggle_btn">
            {{getUserName()}}
          </p>
        </li>
      </ul>
    </div>
  </nav>
  <hr>
</header>
<router-outlet></router-outlet>
<header class="container header">-->
  <!-- ==== NAVBAR ==== -->
<mat-toolbar color="primary">
  <button mat-icon-button class="toolbar-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span> CARGO DELIVERY SERVICE </span>
  <span class="toolbar-spacer"></span>

  <mat-nav-list class="horizontal-menu">
    <ng-container *ngIf="isLoggedIn; else notLoggedIn">
      <mat-list-item class="menu-item" [routerLink]="['/User']" routerLinkActive="active">
        <a matLine class="nav_menu_link">User</a>
      </mat-list-item>
      <mat-list-item class="menu-item" [routerLink]="['/Admin']" routerLinkActive="active">
        <a matLine class="nav_menu_link">Admin</a>
      </mat-list-item>
      <mat-list-item class="menu-item" (click)="signOut()">
        <a matLine class="nav_menu_link">LogOut</a>
      </mat-list-item>
      <mat-list-item class="menu-item" [routerLink]="['/UserProfile']" routerLinkActive="active">
        <a matLine class="nav_menu_link">{{ getUserName() }}</a>
      </mat-list-item>
    </ng-container>

    <ng-template #notLoggedIn>
      <mat-list-item class="menu-item" [routerLink]="['/SignIn']" routerLinkActive="active">
        <a matLine class="nav_menu_link">SignIn</a>
      </mat-list-item>
      <mat-list-item class="menu-item" [routerLink]="['/SignUp']" routerLinkActive="active">
        <a matLine class="nav_menu_link">SignUp</a>
      </mat-list-item>
    </ng-template>
  </mat-nav-list>

  <button mat-icon-button class="toolbar-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="toolbar-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>

</mat-toolbar>

<router-outlet></router-outlet>


